<% include header %>
<div class="mainContent">
    <div class="blogitem">

        <% post.link = "/posts/" + post._id %>
        <article>
            <div class="postDetail">
                <h2 class="postTitle"><a href="javascript:;"><%= post.title %></a></h2>
                <div class="postOption">
                    <p>
                        <span><%= post.meta.updateAt.toISOString().replace(/T.+$/,'')%></span>
                        <span>发布</span>
                        <a href="/posts/edit/<%= post._id %>">编辑</a>
                    </p>
                </div>
            </div>
            <ul class="text">
                <%- post.content %>
            </ul>
        </article> 
    </div>
</div>
<% include footer %>
